<div style="height: 70px"></div>

<div class="jumbotron">
    <h1>InfoCole</h1>
    <p class="lead">
        InfoCole es una Web App que recoge toda la información del sistema de transporte de la ciudad de resistencia,
        podrás encontrar el sistema de rutas completo, con los puntos de paradas y los horarios aproximados, un espacio de comentarios
        para compartir información, quejas o reclamos sobre el servicio y un espacio de noticias para conocer las novedades o noticias
        del servicio.
    </p>

</div>
