@*<div style="height: 70px"></div>

    <div class="jumbotron">
        <h1>InfoCole</h1>
        <p class="lead">
            InfoCole es una Web App que recoge toda la información del sistema de transporte de la ciudad de resistencia,
            podrás encontrar el sistema de rutas completo, con los puntos de paradas y los horarios aproximados, un espacio de comentarios
            para compartir información, quejas o reclamos sobre el servicio y un espacio de noticias para conocer las novedades o noticias
            del servicio.
        </p>

    </div>*@
<div class=" container-fluid">
    <div>
        <h3>Estado del transito</h3>
        <div class="alert alert-dark text-center justify-content-center" role="alert">
            <img src="~/Images/Alertas/NotificationAlert.png" height="50" />
            <b><p>Transito normal, no se registran demoras o cambios de recorrido.</p></b>
        </div>
    </div>
    <div>
        <div class="row" style="height:100%">
            <div class="col-md-8 float-left">
                <h3>Alertas</h3>
                <br />
                <div>
                    <div class="media mb-2">
                        <img class="align-self-center mr-3" src="~/Images/Alertas/Amarillo.png" height="50">
                        <div class="media-body">
                            <span style="color:dimgray">-Fecha-</span>
                            <p>Piquites en el microcentro. Las lineas del transporte público circulan por rutas alternas y con el servicio con pequeños retrasos.</p>
                        </div>
                    </div>
                    <div class="media mb-2">
                        <img class="align-self-center mr-3" src="~/Images/Alertas/Verde.png" height="50">
                        <div class="media-body">
                            <span style="color:dimgray">-Fecha-</span>
                            <p> Se levantó el paro de colectivos y la situación se normalizará en las proximas horas.</p>
                        </div>
                    </div>
                    <div class="media mb-2">
                        <img class="align-self-center mr-3" src="~/Images/Alertas/Rojo.png" height="50">
                        <div class="media-body">
                            <span style="color:dimgray">-Fecha-</span>
                            <p>Paro total de colectivos. Actualmente las todas las lineas de la ciudad de Resistencia y ciudades aledañas no estan prestando el servicio de trasporte.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 float-right">
                <div class="text-center">
                    <h3>Estado de las lineas</h3>
                </div>
                <br />
                <ul style="list-style: none">
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 2 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Rojo.png" height="40" />Linea 12 - Ramal B con servicio suspendido
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 101 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 103 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 104 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 105 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 106 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Verde.png" height="40" />Linea 110 - Con normalidad
                    </li>
                    <li>
                        <img src="~/Images/Alertas/Amarillo.png" height="40" />Linea 111 - Recorridos Alterados

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>