@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class=" container-fluid">
    <div>
        <h3>Estado del tránsito</h3>
        <div class="alert alert-dark text-center justify-content-center" role="alert">
            @{Html.RenderPartial("CrearAlertaTrafico");}
        </div>


    </div>
    <div>
        <div class="row" style="height:100%">
            <div class="col-md-8 float-left">
                <h3>Alertas</h3>
                <br />
                <div>
                    @{Html.RenderPartial("AlertaLineas");}
                </div>
            </div>

            <div class="col-md-4 float-right">
                <div class="text-center">
                    <h3>Estado de las líneas</h3>
                </div>
                <br />
                <div>
                    @{Html.RenderPartial("EstadoLineas");}
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

