@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="float-right" >
            <ul >
                <li style="list-style:none; color: white" class="text-right">
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @style = "color:white;" })
                </li>
                <li style="list-style:none; color: white" class="text-right">
                    <a href="javascript:document.getElementById('logoutForm').submit()" style="color: white">Cerrar sesión</a>
                </li>
            </ul>
        </div>
        
    }
}
else
{
    <div class="navbar row float-right ">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" name="Registrarse" href="@Url.Action("Register", "Account")" style="color: aliceblue">Registrarse </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" name="IniciarSesion" href="@Url.Action("Login", "Account")" style="color: aliceblue">Iniciar sesión </a>
            </li>
        </ul>
    </div>
}
